.red {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e74c3c;
  }
  
  .yellow {
    color: black;
    background-image: url('../images/zero-motif3jaune.svg');
    background-size: 17.6% auto;
    background-color: white; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #2980b9;
  }
  
  .pink {
    color: black;
    background-image: url('../images/zero-motif1rose.svg');
    background-size: 17.6% auto;
    background-color: white; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: green;
  }
  
  .brown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: brown;
  }
  
  .grey {
    background-image: url('../images/zero-motif4gris.svg');
    background-size: 8.5% auto;
    background-color: white; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card.active {
    transform: scale(1.2);
    transition: all 300ms;
  }

  .card {
    transition: all 300ms;
    width: 150px;
    height: 240px;
    border-radius: 10px;
    color: white;
    font-size: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
  }
  
  .circle {
    color: black;
    font-family: 'Lobster', cursive;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 5px solid black;
  }