#hand, #table {
    display: inline-flex;
  }
  
  .card {
    width: 140px;
    height: 220px;
    border-radius: 8px;
    color: white;
    font-size: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    border: 1px solid black;
  }
  
  .red {
    background-color: #e74c3c;
  }
  
  .yellow {
    background-color: #f1c40f;
  }
  
  .blue {
    background-color: #2980b9;
  }
  
  .grey {
    background-color:silver;
  }
  
  .pink {
    background-color: #fd79a8;
  }
  
  .green {
    background-color: green;
  }
  
  .brown {
    background-color: brown;
  }
  
  .grey-test {
    color: black;
    background-color: silver;
    background-image: radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size: 70px 35px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-test {
    width: 210px;
    height: 320px;
    border-radius: 6px;
    color: white;
    font-size: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
  }
  
  .circle {
    font-family: 'Lobster', cursive;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 62px;
    border: 7px solid black;
  }