html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
}

#chooseNicknameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:focus {
    outline: none;
}

/* necessary to give position: relative to parent. */

input[type="text"] {
    font: 35px/54px 'Muli', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

:focus {
    outline: none;
}

.col-3 {
    float: left;
    width: 27.33%;
    margin: 40px 3%;
    position: relative;
}

.effect-16 {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect-16~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4e4e4e99;
    transition: 0.4s;
}

.effect-16:focus~.focus-border, .has-content.effect-16~.focus-border {
    width: 100%;
    transition: 0.4s;
}

.effect-16~label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
    font-size: 32px;
    text-align: center;
}

.effect-16:focus~label, .has-content.effect-16~label {
    top: -16px;
    font-size: 12px;
    color: #4e4e4e99;
    transition: 0.3s;
    font-size: 23px;
}

input[type="button"].hidden {
    opacity: 0;
    transition: opacity 500ms;
}

input[type="button"] {
    opacity: 100;
    transition: opacity 500ms;
}