body {
  margin: 0;
  padding: 0;
}

#logo {
  text-align: center
}

#logo img {
  width: 25%;
}

#root {
  height: 100%;
  width: 100%;
  position: absolute;
}

.game {
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

.table {
  flex: 1;
}

.hand, .table {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}